.mainBody {
    margin-left: 200px;
    margin-top: 50px;
    background-color: aquamarine;
}

.mainBody__consoleList {
    top: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: bisque;
    margin: 0%;
}

.mainBody__consoleList__button{
    margin: 10px;
}

.mainBody__cardSection{
    margin-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    overflow: auto;
    padding-left: 5px;
    width: calc(100% - 5px)
}