
.topNavBar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #66a3ff;
    position: fixed;
    top: 0;
    width: 100%;
}

.topNavBar__listItem {
    float: right;
}

.topNavBar__link {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topNavBar__link:hover {
    background-color: #0052cc;
    color: white;
}