*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/caches/deviceStreaming.xml
/.idea/caches/deviceStreaming.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/.idea/shelf/
/.idea/deviceManager.xml

/app/src/androidTest/java/com/emilygranville/videogamelist/ExampleInstrumentedTest.java